.card-img-top{
  max-width: 88px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.table-img{
  max-width: 88px;
}

.PieChart {
  width:100%;
}

#PlotChart {
  width:100%;
}

#tooltip {
  font-size:14px;
  pointer-events: none;			
}

.tick line{
  opacity: 0.2
}

.card{
  user-select: none;
  min-width: 60px;
}

@media (max-width: 767px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;

    .card {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;

      // Selectively apply horizontal margins to cards to avoid doing the
      // negative margin dance like our grid. This differs from the grid
      // due to the use of margins as gutters instead of padding.
      &:not(:first-child) { margin-left: 0px; }
      &:not(:last-child) { margin-right: 0px; }
    }
  }
}

.card-outline-info {
  transition-duration: 300ms;
}

.card-header{
  font-size:18px;
  font-weight: bold;
  transition-duration: 500ms;
}

.card-header:first-letter {
 font-size:24px;
}

@media (max-width: 575px) {
  .card-header{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-block{
    font-size:12px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-img-top{
    max-width: 60px;
  }
  .card-header{
    font-size:14px;
  }
  .card-header:first-letter {
    font-size:18px;
  }
}

@media (min-width: 767px) {
  .chart-select-button {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
  }
}

.theaterOtherButton {
  margin-bottom: 10px;
}

.order-1{
  color: #FDEDA0;
  background-color: #E8A0B4;
}

.order-2{
  color: #4D86C3;
  background-color: #DCE9F5;
}

.order-3{
  color: #E88F4B;
  background-color: #FBEBE0;
}

.order-retire{
  color: #8E8E8E;
  background-color: #E3E3E3;
}

.order-unselected{
  color: #555555;
  background-color: #FFFFFF;
}

.twitter-share-button{
  color: #FFFFFF;
  margin-bottom: 10px;
  background-color: #1b95e0;
  @include hover {
    color: #FFFFFF;
    background-color: #0c7abf;
  }
  @include hover-focus {
    color: #FFFFFF;
    background-color: #0c7abf;
  }
}

.twitter-share-button img {
  width: 30px;
  margin-right: 15px;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

// IE hack
@media all and (-ms-high-contrast: none) {
  body,
  tooltip,
  popover {
    font-family: Verdana, Meiryo, sans-serif;
  }
}